{% extends 'base.html.twig' %}

{% block title %}Inscription | Groupe Hypnos{% endblock %}

{% block content %}
    <h1 class="text-center">S'inscrire</h1>
    <div class="container col-xl-5 mt-4">
    {{ form(registrationForm) }}
    </div>
{% endblock %}
